@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: #e4e4e7;
    border: 1px solid #ffffff;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
  }
}